<div class="navbar navbar-inverse navbar-static-bottom" role="navigation">
  <div class="container">
    <div class="navbar-text pull-left">
      <p>&copy; Diamond Software 2015-2016</p>
    </div>
  </div>
</div>
