html,
body {
  background-color: #e9eaed;
  margin-top: 40px;
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.navbar-static-bottom {
  margin-bottom: 0;
}

input[type="file"] {
  font-size: 1.4em;
}

select.default_category {
  font-size: 1.2em;
}

a.back-btn {
  color: #fff;
  text-decoration: none !important;
}

li > img {
  width: 180px;
  }

.user-warning {
  color: red;
  font-weight: bold;
  padding-left: 0;
}

.well {
  margin: 20px;
}
