{% extends 'templates/default.twig' %}

{% block title %}User Adverts{% endblock %}

{% block content %}
  <h2>{{username|capitalize}}'s Adverts</h2>

    {% include 'templates/partials/_adverts.php' %}

  <a href="{{urlFor('admin.viewusers')}}"> <button class="btn btn-primary" type="button" name="button">Back</button> </a>

{% endblock %}
