{% extends 'templates/default.twig' %}

{% block title %}FAQ{% endblock %}

{% block content %}

   <h2>Frequently Asked Questions</h2>

   <hr>

     <div class="faq-question well well-sm">Q. What are the advertisement rates?</div>
     <div class="faq-answer">The rates are arbitrary and only for demonstrations purposes.</div>

     <hr>
     <a href="{{ urlFor('home') }}"><button class="btn btn-primary back-button" type="button" name="button">Back</button></a>

     <script type="text/javascript">
     $(document).ready(function() {
      $('.faq-answer').hide();

      $('.faq-question').click(function() {
        $(this).next('.faq-answer').toggle(350);
      });
     });
     </script>

{% endblock %}
