{% extends 'templates/default.twig' %}

{% block style %}
  th, td {
    text-align: center;
  }
{% endblock %}

{% block title %}User Transactions{% endblock %}

{% block content %}
  <h2>{{username|capitalize}}'s Transactions</h2>

  {% if transactions is empty %}
    <p class="well text-danger text-center">You have no transactions. So sad!</p>
  {% else %}
    {% include 'templates/partials/_transactions.php' %}
  {% endif %}

  <a href="{{urlFor('admin.viewusers')}}"> <button class="btn btn-primary" type="button" name="button">Back</button> </a>
{% endblock %}