{% extends 'templates/default.twig' %}

{% block styles %}
  <style> h1 { text-align: center; } </style>
{% endblock %}

{% block title %}404{% endblock %}

{% block content %}
  <h1>Sorry, that page can't be found.</h1>
{% endblock %}