{% extends 'templates/default.twig' %}

{% block title %}User Wallet{% endblock %}

{% block content %}

  <h2>User Profile</h2>
  <div> <a href="{{ urlFor('user.wallet') }}">View My Wallet</a> </div>
  <div> <a href="{{ urlFor('advert.viewbyuser') }}">View My Adverts</a> </div>
  <div> <a href="{{ urlFor('advert.purchases') }}">View My Purchases</a> </div>
  <div> <a href="{{ urlFor('auth.password')}}">Change Password</a> </div>

{% endblock %}