{% extends 'templates/default.twig' %}

{% block style %}
  .advert {
    min-height: 350px;
  }
  .img-thumbnail {
    margin-bottom: 4px;
  }
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Buy and Sell Movies</h1>

<hr>

<div class="row">
  {# show sold and unsold movies #}
  {% for advert in adverts %}
      <div class="col-sm-3 advert">
        <img class="img-thumbnail" src="{{advert.image_url}}" alt="Image for {{advert.title}}" />
        <div>
          <label>Title:</label>
          <span>{{ advert.title }}</span>
        </div>
        <div>
          <label>Price:</label>
          <span>&pound;{{ advert.price|number_format(2,'.',',') }}</span>
        </div>
      </div>
  {% endfor %}
</div>

{% endblock %}