{% extends 'templates/default.twig' %}

{% block title %}View My Adverts{% endblock %}

{% block content %}
  <h2>My Adverts</h2>
  <hr>
    {% include 'templates/partials/_adverts.php' %}

  <a href="{{urlFor('user.profile')}}"> <button class="btn btn-primary" type="button" name="button">Back</button> </a>

{% endblock %}